@import '../../styles/variables.scss';
@import '../../styles/deafults.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';

.breadcrumb {
    @include flex (flex-start, center, row);
    list-style: none;
    padding: 20px 0;

    .breadcrumb-item {
        font-family: 'Pragmatica';
        @include font (14px, 400, 92%, #434343);

        @media (min-width: $bp-md) {
            @include font (16px, 400, 79%, #434343);
        }

        a {
            @include font (12px, 400, 92%, #868686);
            transition: all 0.2s ease;

            @media (min-width: $bp-md) {
                @include font (14px, 400, 79%, #868686);

                &:hover {
                    color: #434343;
                }
            }

            &:hover {
                color: #434343;
            }
        }

        .breadcrumb-separator {
            display: inline-block;
            margin: 0 15px;
            color: #868686;
            width: 17px;
            height: 9px;
        }
    }
}