@import '../../styles/variables.scss';
@import '../../styles/deafults.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';

.total-box {
    font-family: 'Pragmatica';
    flex-basis: 100%;
    margin-top: 25px;
    padding: 20px;
    background-color: $distribution-block-background;
    box-sizing: border-box;

    @media (min-width: 480px) and (max-width: 1024px) {
        margin-top: 35px;
    }

    @media (min-width: 1025px) {
        flex-basis: 25%;
        margin-top: 0;
    }

    &__title {
        @include font (23px, 500, 191%, #1d1d27);
        text-align: start;
    }

    &__value {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        position: relative;

        &::after {
            content: '';
            display: block;
            border-bottom: 1px dashed #D1D1D1;
            width: calc(100% - 30px);
            height: 1px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__label {
        @include font (15px, 400, 187%, $dark-black);
        padding-right: 12px;
        background-color: $distribution-block-background;
        position: relative;
        z-index: 1;
    }

    &__amount {
        @include font (17px, 400, 153%, $dark-black);
        padding-left: 12px;
        background-color: $distribution-block-background;
        position: relative;
        z-index: 1;
    }

    &__promo-code {
        font-family: 'Pragmatica';
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 15px;

        @media (min-width: 480px) and (max-width: 1024px) {
            flex-direction: row;
            flex-wrap: nowrap;
            padding-top: 25px;
            column-gap: 15px;
        }
    }

    &__promo-input-wrapper {
        width: 100%;
        padding-top: 25px;

        @media (min-width: 480px) and (max-width: 1024px) {
            padding-top: 0;
        }
    }

    &__promo-input {
        font-family: 'Pragmatica';
        @include font (16px, 400, 47px, $dark-black);
        padding: 0 10px;
        width: 100%;
        text-align: start;
        border: none;
        border-bottom: 1px solid #2B2B2B;
        background-color: $distribution-block-background;
        box-sizing: border-box;

        &::placeholder {
            @include font (16px, 400, 47px, #2B2B2B);
        }

        &:focus {
            outline: none;
        }
    }

    &__promo-button {
        font-family: 'Pragmatica';
        @include font (12px, 500, 150%, $dark-black);
        padding: 9px 0;
        width: 100%;
        border: 1px solid $light-black;
        background-color: $distribution-block-background;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.6s;

        &:hover {
            background-color: $light-black;
            color: #fff;
        }
    }
}