@import '../../styles/variables.scss';
@import '../../styles/deafults.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';

.contacts-tittle {
    font-size: 25px;
    padding-bottom: 24px;
    font-weight: 500;

    @media (min-width: $bp-lg) {
        font-size: 45px;
        margin-top: 20px;
    }
}

.contacts-city-name {
    font-size: 16px;
    font-weight: 500;
    padding: 25px;
    display: inline-block;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;

    @media (min-width: $bp-lg) {
        font-size: 18px;
    }


}

.contacts-city-name:hover {
    color: $light-orange;
    transition: all 200ms ease-in-out;
}

.contacts-svg {
    @include flex (center, center);
    width: 52px;
    height: 52px;
    background-color: $light-black;
}

.contacts-address {
    @include flex (flex-start, flex-start, row);
    gap: 24px;
    padding-bottom: 48px;
}

.contacts-methods-address {
    width: 250px;
}

.contacts-methods-address p {
    font-size: 17px;
    font-weight: 500;
    color: $dark-black;
    padding-bottom: 10px;
}

.contacts-address-link {
    font-size: 14px;
    font-weight: 400;
    color: $light-black;
}

.contacts-address-link:hover {
    color: $light-orange;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.contacts-telephone-link {
    font-size: 20px;
    font-weight: 500;
    color: $light-black;
}

.contacts-telephone-link:hover {
    color: $light-orange;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.contacts-email-link {
    font-size: 17px;
    font-weight: 400;
    color: $light-black;
    text-decoration: underline;
}

.contacts-email-link:hover {
    color: $light-orange;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.contacts-socials {
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.contacts-socials-frame {
    @include flex (center, center, row);
    width: 46px;
    height: 46px;
    background-color: $powder;
}

.contacts-socials-frame:hover svg path {
    fill: $light-orange;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.contacts-socials-section {
    @include flex (flex-start, center, row);
    gap: 22px;
    padding-bottom: 22px;
}

.contacts-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;

}

.contacts-photo {
    height: auto;
}

.contacts-questions {
    padding-top: 40px;
    width: 220px;
    margin: 0 auto;

    @media (min-width: $bp-md) {
        padding-top: 50px;
        width: auto;
        padding-top: 60px;
    }
}

.contacts-questions-1 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    @media (min-width: $bp-lg) {
        font-size: 35px;
    }
}

.contacts-questions-2 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    line-height: 1.3;

    @media (min-width: $bp-lg) {
        font-size: 19px;
    }
}

.subscribe-contacts-form {
    height: 326px;
    width: 330px;

    @media (min-width: $bp-md) {
        width: 100%;
        height: 290px;
    }

    @media (min-width: $bp-lg) {
        width: 750px;
        margin: 0 auto;
    }
}

.contacts-agree {
    margin: 30px 0 80px 0;
    text-align: center;
    color: #6B6E72;
}

.contacts-agree a {
    color: #6B6E72;

    &:hover {
        color: $light-orange;
        cursor: pointer;
        transition: all 200ms ease-in-out;
    }
}

.contacts-city {
    @media (min-width: $bp-lg) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 130px;
    }
}