@import '../../styles/variables.scss';
@import '../../styles/deafults.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';

.cart-products {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 15px;

    @media (min-width: 768px) {
        padding-top: 27px;
    }

    @media (min-width: 1025px) {
        padding: 40px 0 90px 0;
    }

    &__content {
        font-family: 'Pragmatica';
        flex-basis: 100%;
        padding-right: 0;

        @media (min-width: 1025px) {
            flex-basis: 75%;
            padding-right: 20px;
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ECECEC;
        margin: 0;
    }

    &__header {
        display: none;

        @media (min-width: 768px) {
            display: table-header-group;
        }
    }

    &__item {
        @include font (14px, 700, 24px, #373737);
        padding: 15px 20px;
        text-align: left;
        text-transform: uppercase;

        &:last-child {
            padding-right: 6px;
        }
    }

    &__card-cell {
        &--verticalAlign {
            vertical-align: middle;
        }

        &--verticalSum {
            vertical-align: middle;
        }
        
    }

    &__card td {
        height: 100px;
        border-top: 1px solid #ECECEC;
        padding: 5px;

        @media (min-width: $bp-md) {
            padding: 15px 20px;
        }

        @media (min-width: $bp-lg) {
            padding: 15px 20px;
        }
    }
}