a {
  color: #000;
}

.error-field {
  border: 2px solid red;
}


* {
  font-family: "Pragmatica";
}

.checkbox--remember-me:checked {
  background-color: #000;
}

.wrapper-placingOrder {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 84px;
}

.registration-form {
  padding: 20px;
}

.placingOrder-header {
  font-size: 45px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin: 25px 0 40px 0;
}

.form-element {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}

.form-element--li {
  width: 100%;
}

.form-enter_login-message {
  width: 100%;
  align-items: center;
  margin-bottom: 25px;
  padding: 10px 0 10px 0;
  background-color: #f8f8f8;
}

.form-enter {
  display: flex;
  align-items: center;
}

.form-enter__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 10px;
}

.form-enter__button {
  background: none;
  border: none;

  cursor: pointer;
}

.form-enter__button {
  padding: 10px 20px 10px 20px;
  color: #000;
  background-color: #ffff;
  border: 2px solid #d6d6d6;
  cursor: pointer;
}

.form-enter__button:hover {
  background-color: #000000;
  border: 2px solid #000000;
  color: #fff;
}

.form-enter__button-a {
  color: #000;
  background-color: #ffff;

  cursor: pointer;
}

.form-enter__button-a:hover {
  background-color: #000000;

  color: #fff;
}

.password-input-container {
  position: relative;
}

.placingOrder-field {
  padding-right: 40px;
}

.form-item {
  width: 100%;
  padding-bottom: 20px;
}

.apply-promoCode {
  background-color: #f8f8f8;
}

.promo-code {
  padding: 20px;
  margin: 10px 0 10px 0;
  background-color: #f8f8f8;
}

.click-active {
  margin-left: 10px;
  color: #ff6915;
  text-decoration: underline;
  background-color: #f8f8f8;
  border: none;
  cursor: pointer;
}

.click-active:hover {
  color: #fb5a00;
}

.label-coupon {
  padding: 10px 0 10px 0;
}

#coupon_code {
  padding: 10px 20px 10px 20px;
  border: 2px solid #d6d6d6;
}

#coupon_code:hover {
  border: 2px solid #000;
}

#cp_apply {
  padding: 10px 20px 10px 20px;
  background-color: #fff;
  color: #000;
  border: 2px solid #d6d6d6;
  cursor: pointer;
}

#cp_apply:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}

.help-password {
  display: flex;
  justify-content: center;
  color: #000;
  text-decoration: underline;
  margin: 10px 0 10px 0;
}

.remember-me {
  display: flex;
  justify-content: center;
}

.PlacingOrder-formik {
  border: 1px solid #eaeaea;
}

.placingOrder-field {
  width: 100%;

  border: 2px solid #d6d6d6;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
}

.placingOrder-field:hover {
  border: 2px solid #000000;
}

.placingOrder-fields {
  width: 100%;
  min-height: 100px;

  border: 2px solid #d6d6d6;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
}

.placingOrder-fields:hover {
  border: 2px solid #000000;
}

.form-element__text {
  margin: 10px 0 10px 0;
}

.asterisk-required {
  color: red;
}

.wrapper-yourOrder {
  padding: 25px;
  border: 1px solid #eaeaea;
}

.yourOrder-basket {
  width: 100%;
  height: auto;
}

.yourOrder-sum {
margin: 20px 0 20px 0;
}

.yourOrder-sum__sum {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.line-sum {
  max-width: 55%;
}

.yourOrder-sum__uah {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.delivery-header {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 20px;
}

.delivery-options {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 15px;
}

.delivery-radio {
  margin-right: 5px;
}

.payment-radio {
  margin-right: 5px;
}

.payment-header {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 20px;
}

.payment-options {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 15px;
}

.button-order {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0 25px 0;
  padding-bottom: 20px;
}

.checkbox-order {
  margin-right: 5px;
  background-color: #0000;
}

.checkbox-order:checked {
  border-color: red;
  background-color: yellow;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .line-sum {
    max-width: 55%;
    align-items: center;
  }

  .wrapper-placingOrder {
    height: auto;
    position: relative;
    display: block;
  }

  .form-element {
    display: block;
  }

  .placingOrder-header {
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 12px 0 18px 0;
  }

  .wrapper-yourOrder {
    margin-top: 40px;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .wrapper-placingOrder {
    display: block;
  }

  .form-element {
    display: block;
  }

  .form-enter {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  .placingOrder-header {
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    margin: 15px 0 15px 0;
  }

  .line-sum {
    max-width: 55%;
  }

  .wrapper-yourOrder {
    margin-top: 30px;
  }
}

@media screen and (max-width: 359px) {
  .wrapper-placingOrder {
    display: block;
  }

  .form-element {
    display: block;
  }

  .placingOrder-header {
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    margin: 15px 0 15px 0;
  }

  .line-sum {
    max-width: 55%;
  }

  .wrapper-yourOrder {
    margin-top: 30px;
  }
}

