* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
}

a {
    text-decoration: none;
}


.content-wrapper {
    /* margin: 0 auto;
    max-width: 1920px;
    padding: 30px 20px;



    @media (min-width: $bp-md) {
        padding: 30px 30px;
    }


    @media (min-width: $bp-lg) {
        padding: 70px;
    } */
}
