@import "./mixins.scss";
@import "./variables.scss";
@import "./fonts.scss";


h1 {
    font-family: 'Pragmatica', sans-serif;
    @include font(24px, 500, 32px, $c: $dark-black);

    @media (min-width: $bp-lg) {
        @include font(39px, 500, 50px, $dark-black);
    }
}

h2 {
    font-family: 'Pragmatica', sans-serif;
    @include font(34px, 500, 41px, $text-color-white);

    @media (min-width: $bp-lg) {
        @include font(62px, 500, 74px, $text-color-white);
    }
}

h3 {
    font-family: 'Pragmatica', sans-serif;
    @include font(15px, 500, 26px, $dark-black);

    @media (min-width: $bp-lg) {
        @include font(18px, 500, 26px, $dark-black);
    }
}

h4 {
    font-family: 'Pragmatica', sans-serif;
    @include font(16px, 400, 22px, $dark-black);

    @media (min-width: $bp-lg) {
        @include font(19px, 500, 26px, $dark-black);
    }
}