// BREAKPOINTS
$bp-md: 768px;
$bp-lg: 1920px;

$grey: #707070;
$light-grey: #6B6E72;
$beige: #D6D6D6;

//BACKGROUND COLORS
$background-primary-color: #FFFFFF;
$footer-links-background: #272727;
$card-photo-background: #F6F6F6;

$light-black: #1E1E1E;
$dark-black: #000000;
$light-orange: #FF6915;
$dark-orange: #FB5A00;
$blue: #3F71BC;
$purple: #603FBC;

$grey: #707070;
$light-grey: #6B6E72;
$beige: #D6D6D6;

//BOOTS COLORS
$sneakers-light-gray: #A8B7BF;
$sneakers-dark-gray:#2A2C2D;
$sneakers-red:#F81D2A;

//CARD SLIDERS
$slider-not-selected: #D9D9D9;
$slider-selected: #333333;

//SNEAKERS SIZE
$size-background: #F4F4F4;

$distribution-block-background: #F8F8F8;

//BORDER COLOR
$header-border-color: #EAEAEA;
$slider-border-color: #E2E2E2;
$favorite-border-color: #000000;
$footer-border-color: #FFFFFF0D;
$main-filter-border-color: #DFDFDF;
$sort-border-color: #212121;
$number-border-color: #EEEEEE;

//TEXT
$card-gender-text: #747474;
$card-price-discount: #999999;

