* {
  font-family: "Pragmatica";
}

.wrapper-item {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.full-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: transparent;
  border: none;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.full-item > div {
  position: relative;
  min-width: 250px;
  margin: auto;
  padding: 10px 30px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-item-content {
  position: absolute;
  background-color: white;
  padding: 20px;
  padding-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

.full-item img:hover {
  transform: scale(1.05);
}

.full-item p {
  font-size: 20px;
  margin: 10px 10px;
  color: #333;
  align-items: center;
  text-align: center;
}

.full-item h2 {
  margin: 10px 10px;
  color: #333;
  display: flex;
  justify-content: center;
}

.full-item b {
  margin: 10px 10px;
  color: #5fa36a;
}

.button-closeModal {
  padding: 10px 20px 10px 20px;
  color: #000;
  background-color: #ffff;
  border: 2px solid #d6d6d6;
  cursor: pointer;
}

.button-closeModal:hover {
  background-color: #000000;
  border: 2px solid #000000;
  color: #fff;
}
