@import "../../styles/deafults.scss";
@import "../../styles/typography.scss";
@import "../../styles/mixins.scss";


.benefits-section {
    @include flex(flex-start, flex-start, column);
    gap: 25px;
    padding: 30px 0px;
    border-top: 1px solid $header-border-color;
    border-bottom: 1px solid $header-border-color;

    &__img-shield {
        width: 36px;
        margin: 2px 27px 0px 0px;

    }

    &__img-stars {
        width: 40px;
        height: 36px;
        margin: 2px 23px 0px 0px;
    }

    &__img-cart {
        width: 34px;
        height: 36;
        margin: 2px 29px 0px 0px;
    }

    @media (min-width: $bp-md) {
        @include flex(space-between, flex-start, row);
        gap: 7px;
        padding: 50px 0px;
    }

    @media (min-width: $bp-lg) {
        @include flex(center, flex-start, row);
        gap: 62px;
        padding: 50px 0px;
    }
}

.benefits-section__original{
    @include flex(flex-start, flex-start, row);
}

.benefits-section__original-title {
    width: fit-content;
    max-width: 267px;
    text-align: left;

    @media (min-width: $bp-md) {
        max-width: 183px;
    }

    @media (min-width: $bp-lg) {
        max-width: 235px;
    }
}

.benefits-section__original-paragraph {
    font-family: 'Pragmatica', sans-serif;
    @include font(14px, 400, 21px, #4B4B4B);

    margin-top: 8px;
    text-align: left;

    @media (min-width: $bp-lg) {
        @include font(15px, 400, 25px, #4B4B4B);
    }
}

.arrivals-section {
    padding: 40px 0px 70px 0px;

    @media (min-width: $bp-md) {
        padding: 50px 0px 70px 0px;
    }
    
    @media (min-width: $bp-md) {
        padding: 90px 0px 115px 0px;
    }
}

.arrivals-section__title-container {
    @include flex (space-between, center, row);

    &--margin-top {
        margin-top: 84px;
    }

    @media (min-width: $bp-md) {
        &--margin-top {
            margin-top: 70px;
        }
    }

    @media (min-width: $bp-lg) {
        &--margin-top {
            margin-top: 115px;
        }

        &__title {
            max-width: 305px;
        }
    }
}



.arrivals-section__title {
    max-width: 188px;
    
    @media (min-width: $bp-lg) {
        max-width: 305px;
    }

}

.arrivals-section__arrow-container {
    @include flex (flex-start, flex-start, row);
    gap: 15px;
}

.arrivals-section__arrow-button {
    background: none;
    border: none;
    height: fit-content;
    width: fit-content;

    &--active::after {
        content: url("./img/arrivals-section/arrow_active.svg");
    }

    &--nonactive::after {
        content: url("./img/arrivals-section/arrow_non-active.svg");
    }

    @media (min-width: $bp-lg) {
        &--active::after {
            content: url("./img/arrivals-section/arrow_active-desktop.svg")
        }

        &--nonactive::after {
            content: url("./img/arrivals-section/arrow_nonactive-desktop.svg")
        }
    }
}

.arrivals-section__products-container {
    @include flex (flex-start, flex-start, row);

    margin-top: 33px;
    gap: 14px;
    flex-wrap: wrap;

    @media (min-width: $bp-md) {
        gap: 20px;

        & > :nth-child(4) {
            display: none;
          }
    }
    @media (min-width: $bp-lg) {
        margin-top: 60px;
    }
}