.buttonResponseWhite {
  border: 1px solid #1E1E1E ; 
  margin-top: 69px;
}

.buttonResponseWhite-text {
  min-width: 640px;
  height: 48px;
  background-color: #FFFFFF;
  padding: 15px 20px;
  cursor: pointer;
}

.buttonResponseWhite-text:hover {
  background-color: #1E1E1E;
  color: #FFFFFF;
}