.circleTimer-box {
  width: 100%;
}

.circleTimer {
  margin: 34px;
  border-radius: 100%;
}

.circleTimer-button {
  width: 10px;
  right: 10px;
  border-radius: 100%;
  border: 6px solid #767676;
  cursor: pointer;
}
