.circleTimer-box {
  width: 100%;
}

.circleTimer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
 
  background-color: #767676;
  margin: 15px;
  transition: background-color 0.3s ease;

  cursor: pointer;
}

.circleTimer.active {
  background-color: #000000;
}
