.circleTimer-box{
    width: 100%;
    position: relative;
}

.circleTimer{
    width: 8px;
    right: 8px;
    margin-right: 35px;
    margin-left: 35px;
    border-radius: 100%;
    color: #767676;
    background-color: #767676;  
}