@import '../../../../styles/variables.scss';
@import '../../../../styles/deafults.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';


.mailing-list {
    background-color: $distribution-block-background;
    text-align: center;
    margin: 30px 0;
    padding: 25px;

    @media (min-width: $bp-lg) {
        width: 390px;
        height: 300px;
    }
}

.mailing-subscribe-text {
    font-size: 24px;
    width: 270px;
    margin: 0 auto 13px;


    @media (min-width: $bp-md) {
        width: auto;
    }
}

.mailing-text {
    color: #393939;
    font-size: 15px;
    margin-bottom: 13px;
}

.mailing-list-input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    height: 47px;
    font-size: 16px;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 24px;

    &::placeholder {
        color: black;
        padding-left: 10px;
    }

    &:focus {
        outline: none;
    }
}

.mailing-list-button {
    background-color: $light-black;
    width: 100%;
    height: 65px;
    border: none;
    color: white;
    font-size: 16px;
    margin-bottom: 24px;

    &:hover {
        color: $light-orange;
        cursor: pointer;
    }
}

.mailing-policy {
    color: $light-grey;
    font-size: 13px;
}

.mailing-policy a {
    text-decoration: underline;
    color: $light-grey;

    &:hover {
        color: $light-orange;
    }
}

.mailing-success-message {
    text-align: center;
    padding: 150px 25px 0 25px;
    font-size: 22px;

    @media (min-width: $bp-md) {
        padding-top: 130px;
    }

}

.mailing-success-box {
    width: 100%px;
    height: 345px;
    background-color: $distribution-block-background;
    margin: 30px 0;

    @media (min-width: $bp-md) {
        height: 288px;
    }

    @media (min-width: 1025px) {
        width: 483px;
    }

    @media (min-width: $bp-lg) {
        width: 390px;
        height: 300px;
    }
}