.ButtonBlackArrow {
  border: none;
}

.buttonComponents {
  display: flex;
}

.buttonBlackArrow-text {
  min-width: 128px;
  height: 65px;
  padding: 23px 45px;
  color: #ffffff;
  background-color: #1e1e1e;
  
  cursor: pointer;
}

.buttonBlackArrow-icons {
  width: 65px;
  height: 65px;
  padding: 23px 0px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.buttonBlackArrow-text:hover {
  background-color: #000000;
}

.buttonBlackArrow-icons:hover {
  background-color: #1e1e1e;
}
