.sliderCircleLeft {
  width: 98px;
  height: 98px;
  background-color: #ffffff;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 100%;
  padding: 0px 35px;
  cursor: pointer;
}

.sliderCircleLeft:hover {
  background-color: #e2e2e2;
}

.sliderCircleRight {
  width: 98px;
  height: 98px;
  background-color: #ffffff;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 100%;
  padding: 0px 35px;
  margin-left: 14px;
  cursor: pointer;
}

.sliderCircleRight:hover {
  background-color: #e2e2e2;
}