@import '../../styles/variables.scss';
@import '../../styles/deafults.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';


.slider-section {
    padding-bottom: 60px;
    position: relative;

    &__divider {
        border-top: 1px solid #ECECEC;
        width: 100vw;
    }

    &__heading {
        font-family: 'Pragmatica', sans-serif;
        @include font(39px, 500, 125%, $dark-black);
        text-transform: uppercase;
        padding: 60px 0;
    }

    &__wrap {


        &-item {
            display: flex;
            margin: 0 5px;
            flex-wrap: wrap;
        }
    }

    .arrow-next svg,
    .arrow-prev svg {
        position: absolute;
        width: 39px;
        top: -75px;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.4;

        }
    }

    .arrow-next svg {
        right: 52px;

    }

    .arrow-prev svg {
        transform: rotate(180deg);
        right: 0;
    }
}