
 .search-input{
  position: absolute;
  top: 0;
  height: 72px;
  width: 1000px;
  z-index: 50;
  left: 150px;


font-size: 22px;
font-weight: 500;
// line-height: 10px;
text-align: left;

}

.search-results{
  position: absolute;
  top: 80px;
  left: 150px;
  width: 1000px;
  // color: rgb(255, 105, 21, 0.8);
  // color: rgb(255, 105, 21);
  color: #FF6915;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 22px;
  font-weight: 500;
  line-height: 10px;
  text-align: left;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 25px;
  cursor: pointer;
  // padding: 10px;
}
.search-result__item{
 padding-left: 10px;
  transition: color 0.2s;
}
.search-result__item:hover {
  color: #f0f0f0; 
  // color: #c24700;
}