@import "../../../../styles/deafults.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/mixins.scss";
@import "../../../../styles/typography.scss";
@import "../../../../styles/variables.scss";

.input-blok {
  display: flex;
}

.input-field {
  width: 50px;
  padding: 15px 10px;
  border: none;
  border-bottom: 2px solid #b5b5b5;
  color: #343434;
}

.input-line {
  width: 15px;
  background-color: #b5b5b5;
}
