/* * {
@import "./components/Button/ButtonOrang/ButtonOrang.scss";
@import "./components/Button/ButtonBlackArrow/ButtonBlackArrow.scss";
@import "./components/Button/ButtonBlackBasket/ButtonBlackBasket.scss";
@import "./components/Button/ButtonResponse/White/ButtonResponseWhite.scss";
@import "./components/Button/SliderCircle/SliderCircle.scss";
@import "./components/Banner/Banner.scss";
@import "./components/Button/SliderTimer/SliderTimer.scss";
@import "./Pages/PlacingOrder/PlacingOrder.scss";



/* * {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

* {
  text-align: center;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy', sans-serif;
}

a {
  text-decoration: none;
}


.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0px 15px;

  @media (min-width: $bp-md) {
      padding: 0px 25px;
  }

  @media (min-width: $bp-lg) {
      padding: 0px 280px;
  }
}


a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0px 15px;

  @media (min-width: $bp-md) {
      padding: 0px 25px;
  }

  @media (min-width: $bp-lg) {
      padding: 0px 280px;
  }
  
} */


