.banner {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr;
}

.bannerTitle {
  position: relative;
  width: 545px;
  top: 106px;
  font-family: Pragmatica;
  font-weight: 500;
  font-size: 69px;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.bannerRectangle {
  height: 40px;
  text-align: center;
  align-items: center;
}

.bannerRectangle-img {
  margin-bottom: 22px;
}

.bannerText {
  position: relative;
  top: 126px;
  font-family: Pragmatica;
  font-weight: 300;
  font-size: 22px;
  color: #000000;
  text-align: left;
}

.BannerPrice {
  position: relative;
  top: 196px;
  font-family: Pragmatica;
  color: #000000;
  display: block;
  text-align: left;
}

.banner-from {
  font-family: Pragmatica;
  font-weight: 500;
  font-size: 16px;
}

.banner-price {
  font-family: Pragmatica;
  font-weight: 500;
  font-size: 22px;
}

.uah {
  font-family: Pragmatica;
  font-weight: 500;
  width: 18px;
}

.buttonBanner {
  position: relative;
  top: 35%;
  width: 100%;
  text-align: left;
}

.sliderCircle {
  position: relative;
  top: -100px;
  display: flex;
  text-align: left;
}

.banner-sliderTimers {
  position: relative;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.sneakerBanners {
  display: none;
}

.banner-sliderTimer {
  display: none;
}

@media screen and (min-width: 1200px) and (max-width: 1640px) {
  .bannerTitle {
    width: 400px;
    font-size: 48px;
  }

  .bannerText {
    font-size: 15px;
  }

  .sneakerBanner {
    display: block;
    width: 100%;
  }

  .banner-sliderTimer {
    display: none;
  }
}

.sliderCircle {
  position: relative;
  top: -100px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .banner {
    width: 100%;
  }

  .bannerTitle {
    width: 300px;
    top: 76px;
    font-size: 34px;
  }

  .bannerRectangle {
    height: 40px;
    text-align: center;
    align-items: center;
  }

  .bannerRectangle-img {
    margin-top: 18px;
  }

  .bannerText {
    top: 96px;
    font-size: 15px;
  }

  .BannerPrice {
    top: 116px;
  }

  .banner-from {
    font-size: 16px;
  }

  .banner-price {
    font-size: 22px;
  }

  .buttonBanner {
    top: 36%;
  }

  .sneakerBanner {
    display: block;
    width: 100%;
  }

  .sneakerBanners {
    display: none;
  }

  .banner-sliderTimers {
    display: none;
  }

  .banner-sliderTimer {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
  }

  .circleTimer-box {
    display: flex;
    align-items: center;
  }

  .sliderCircle {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner {
    display: block;
  }

  .bannerTitle {
    top: 86px;
    width: 300px;
    font-size: 34px;
  }

  .bannerText {
    width: 95%;
    top: 146px;
  }

  .bannerRectangle {
    height: 40px;
    text-align: center;
    align-items: center;
  }

  .bannerRectangle-img {
    margin-top: 18px;
  }

  .BannerPrice {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .banner-from {
    font-size: 16px;
  }

  .banner-price {
    font-size: 22px;
  }

  .uah {
    width: 18px;
  }

  .sneakerBanners {
    position: relative;
    width: 100%;
    top: 150px;
    display: block;
    margin-bottom: 100px;
  }

  .buttonBanner {
    position: relative;
    display: flex;
    top: 10px;
    justify-content: center;
  }

  .sliderCircle {
    display: none;
  }

  .sneakerBanner {
    display: none;
  }

  .circleTimer-box {
    top: 60px;
    display: flex;
    justify-content: center;
  }

  .banner-sliderTimers {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
  }

  .banner-sliderTimer {
    display: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .banner {
    display: block;
  }

  .bannerTitle {
    top: 38px;
    width: 100%;
    font-size: 34px;
  }

  .bannerRectangle-img {
    margin-top: 18px;
  }

  .bannerText {
    width: 95%;
    top: 58px;
    font-size: 15px;
  }

  .sneakerBanners {
    position: relative;
    top: 18px;
    display: block;
    width: 100%;
  }

  .banner-from {
    font-size: 16px;
  }

  .banner-price {
    font-size: 22px;
  }

  .uah {
    width: 18px;
  }

  .sliderCircle {
    display: none;
  }

  .sneakerBanner {
    display: none;
  }

  .BannerPrice {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .wrapper-ButtonBlackArrow {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .buttonBanner {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
  }

  .sliderCircle {
    display: none;
  }

  .circleTimer-box {
    top: 50px;
    display: flex;
    justify-content: center;
  }

  .banner-sliderTimers {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
  }

  .banner-sliderTimer {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .banner {
    display: block;
  }

  .bannerTitle {
    width: 300px;
    top: 38px;
    font-size: 34px;
  }

  .bannerText {
    top: 48px;
  }

  .BannerPrice {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .sneakerBanners {
    position: relative;
    top: 40px;
    display: block;
    width: 100%;
  }

  .sliderCircle {
    display: none;
  }

  .sneakerBanner {
    display: none;
  }

  .buttonBanner {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
  }

  .circleTimer-box {
    top: 50px;
    display: flex;
    justify-content: center;
  }

  .banner-sliderTimers {
    width: 100%;
    height: 100px;
    align-items: center;
  }

  .banner-sliderTimer {
    display: none;
  }
}

